<div  class="schema-form-array {{form.htmlClass}}"
      sf-field-model="sf-new-array"
      sf-new-array>
  <label class="control-label" ng-show="showTitle()">{{ form.title }}</label>
  <md-list class="list-group" sf-field-model ui-sortable="form.sortOptions">
    <md-list-item layout="row" class="list-group-item"
             sf-field-model="ng-repeat"
             ng-repeat="item in modelArray track by $index"
             schema-form-array-items
             class="{{form.fieldHtmlClass}}">
      <md-button flex="none" flex-order="2" flex="5"
                 type="button"
                 ng-if=" !( form.readonly || form.remove === null )"
                 ng-click="deleteFromArray($index)"
                 ng-disabled="form.schema.minItems >= modelArray.length"
                 class="md-icon-button" aria-label="More"
                 style="position: relative; z-index: 20;">
        <md-icon>close</md-icon>
      </md-button>
    </md-list-item>
  </md-list>
  <div class="clearfix" ng-model="modelArray" schema-validate="form" layout="row" layout-align="end center">
    <div class="help-block"
         ng-show="(hasError() && errorMessage(schemaError())) || form.description"
         ng-bind-html="(hasError() && errorMessage(schemaError())) || form.description"></div>

    <md-button ng-if=" !( form.readonly || form.add === null )"
            ng-click="appendToArray()"
            ng-disabled="form.schema.maxItems <= modelArray.length"
            type="button"
            style="align-self: flex-end;"
            class="md-raised md-mini md-primary {{ form.style.add || 'btn-default' }} pull-right">
      <i class="glyphicon glyphicon-plus"></i>
      {{ form.add || 'Add'}}
    </md-button>
  </div>
</div>
