<div sf-array="form" ng-model="$$value$$"
     class="form-group schema-form-checkboxes {{form.htmlClass}}"
     ng-class="{'has-error': hasError(), 'has-success': hasSuccess()}">
  <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
  <div class="checkbox" ng-repeat="val in titleMapValues track by $index" >
    <md-checkbox ng-model="titleMapValues[$index]"
                sf-changed="form"
                ng-disabled="form.readonly"
                schema-validate="form"
                name="{{form.key.slice(-1)[0]}}"
                aria-label="{{form.title || form.key.slice(-1)[0]}}">
      <span ng-bind-html="form.titleMap[$index].name"></span>
    </md-checkbox>
  </div>
  <div class="help-block md-caption" sf-message="form.description"></div>
</div>
