<md-input-container class="schema-form-{{form.type}} {{form.htmlClass}}">
  <label  ng-show="showTitle()" for="{{form.key.slice(-1)[0]}}">{{form.title}}</label>


<!--
  <input ng-if="!form.fieldAddonLeft && !form.fieldAddonRight"
         ng-show="form.key"
         type="{{form.type}}"
         step="any"
         sf-changed="form"
         placeholder="{{form.placeholder}}"
         class="form-control {{form.fieldHtmlClass}}"
         id="{{form.key.slice(-1)[0]}}"
         ng-model-options="form.ngModelOptions"
         ng-model="$$value$$"
         ng-disabled="form.readonly"
         schema-validate="form"
         name="{{form.key.slice(-1)[0]}}"
         aria-describedby="{{form.key.slice(-1)[0] + 'Status'}}">
-->

  <input ng-model="$$value$$"
         ng-show="form.key"
         type="{{form.type}}"
         step="any"
         sf-changed="form"
         placeholder="{{form.placeholder}}"
         id="{{form.key.slice(-1)[0]}}"
         ng-class="form.fieldHtmlClass"
         ng-disabled="form.readonly"
         name="{{form.key.slice(-1)[0]}}"
         sf-type-parser="form.schema"
         schema-validate="form">
         <div ng-messages="ngModel.$error">
           <!--
              This is a bit of a hack. sf-message does the work, but ng-messages and ng-message
              is needed for the styling
           -->
           <div sf-message ng-message></div>
        </div>
</md-input-container>
