<div class="form-group schema-form-radiobuttons {{form.htmlClass}}"
     ng-class="{'has-error': hasError(), 'has-success': hasSuccess()}" sf-layout sf-messages>
  <div>
    <label class="control-label" ng-show="showTitle()">{{form.title}}</label>
  </div>
  <section layout="row" layout-sm="column" layout-align="center center">
    <md-input-container ng-repeat="item in form.titleMap">
      <md-button type="button"
                 class="group md-raised"
                 sf-field-model="replaceAll"
                 ng-model="$$value$$"
                 sf-changed="form"
                 class="radio {{form.fieldHtmlClass}}"
                 ng-class="{'md-primary': ($$value$$ == item.value)}"
                 ng-disabled="form.readonly"
                 ng-model-options="form.ngModelOptions"
                 schema-validate="form"
                 ng-value="item.value"
                 ng-click="$$value$$ = item.value"
                 name="{{form.key.join('.')}}">
        <span ng-bind-html="item.name"></span>
      </md-button>
    </md-input-container>
  </section>
</div>
