<div class="form-group {{form.htmlClass}} schema-form-select"
     ng-class="{'has-error': hasError(), 'has-success': hasSuccess(), 'has-feedback': form.feedback !== false}">
  <md-select ng-model="$$value$$">
    <md-select-label ng-show="showTitle()">{{form.title}}</md-select-label>
    <md-optgroup ng-repeat-start="(key, opt) in form.titleMap | orderBy:'group' as optGroups"
                 ng-if="opt.group && opt.group != optGroups[key-1].group"
                 label="{{opt.group}}">
      <md-option ng-repeat="(key, filtered) in form.titleMap | filter: {group: opt.group} | orderBy:'name' as opts"
                 ng-value="filtered.value">{{filtered.name}}</md-option>
    </md-optgroup>
    <md-option ng-repeat-end
               ng-if="!opt.group"
               ng-value="opt.value">{{opt.name}}</md-option>
  </md-select>
  <p class="help-block md-caption" sf-message="form.description"></p>
</div>
