<section class="schema-form-submit" ng-class="[ form.htmlClass ]" layout="row">
  <md-progress-circular
    class="md-accent md-hue-1"
    md-mode="indeterminate"
    md-diameter="32"
    aria-label="Saving"
    style="margin: 0 8px 0 0;"
    ng-if="model.processing"
  ></md-progress-circular>

    <md-button
    class="md-raised"
	ng-class="[ form.style || 'md-primary', form.fieldHtmlClass ]"
    type="{{::form.type}}"
    ng-disabled="form.readonly"
    aria-label="{{::form.title}}"
    layout="row"
    layout-align="space-around center"
    ng-click="buttonClick($event,form)"
  >

    <md-tooltip ng-if="::form.tip">{{::form.tip}}</md-tooltip>


    {{::form.title}}
  </md-button>
</section>
