<section class="schema-form-submit {{form.htmlClass}}">

  <md-button class="md-raised {{ form.style || 'md-primary' }} {{form.fieldHtmlClass}}"
             ng-disabled="form.readonly">
    {{form.title}}
  </md-button>

<!--
ng-if="form.type === 'submit'"
  <button class="btn {{ form.style || 'btn-default' }}"
          type="button"
          ng-click="buttonClick($event,form)"
          ng-disabled="form.readonly"
          ng-if="form.type !== 'submit'">{{form.title}}</button>
-->

</section>
