<div ng-init="selected = { tab: 0 }"
	 ng-model="modelArray" schema-validate="form"
	 sf-field-model="sf-new-array"
	 sf-new-array
	 class="clearfix schema-form-tabarray schema-form-tabarray-{{form.tabType || 'left'}} {{form.htmlClass}}">
	
	<style>
		.md-fab.md-micro {
			margin-top: 0;
			-webkit-transform: scale(0.6);
			-ms-transform: scale(0.6);
			transform: scale(0.6);
		}
	</style>
	
	<div ng-if="!form.tabType || form.tabType !== 'right'"
	   ng-class="{'col-xs-3': !form.tabType || form.tabType === 'left'}">
		<md-content class="md-padding">
			<md-tabs md-dynamic-height md-selected="selected.tab" md-autoselect md-border-bottom>
				<md-tab sf-field-model="ng-repeat" ng-repeat="item in $$value$$ track by $index">
					<md-tab-label>
						{{interp(form.title,{'$index':$index+1, value: item}) || $index+1}}
						<md-button
							ng-click="selected.tab = deleteFromArray($index).length - 1; selected.tab= 0"
							ng-disabled="form.schema.minItems >= modelArray.length"
							ng-flex="none" flex-order="2" type="button" class="md-fab md-mini md-micro md-accent" aria-label="Add">
							<md-icon>close</md-icon>
						</md-button>
					</md-tab-label>
					<md-tab-body>
						<div ng-style="{opacity: 0, marginTop: '10px'}" class="field-errors" ng-if="hasError()">
							<div class="help-block" ng-bind-html="errorMessage(schemaError()) || form.description"></div>
						</div>
						<div schema-form-array-items></div>
					</md-tab-body>
				</md-tab>
				<md-tab md-on-select="$event.preventDefault()" ng-click="$event.preventDefault() || (selected.tab = appendToArray().length - 1)" ng-disabled="form.schema.maxItems <= modelArray.length" ng-hide="form.readonly || form.remove === null">
					<md-tab-label>
						<md-icon>add</md-icon>
					<md-tab-label>
				</md-tab>
			</md-tabs>
		</md-content>
	</div>
</div>